#The code below:

import turtle as t
t.pen()
t.bgcolor("black")
t.pensize(7)
def Turtle(size, num, angle):
    toupleColor = ("cyan", "pink", "white", "light blue", "pearly")
    for i in range(num):
        for x in range(4):
            t.pencolor(toupleColor[x % 5])
            t.forward(size)
            t.left(120)
        t.right(angle)

Turtle(150, 6, 60)
t.done()
